<section class="projects">
  <div class="purple-dot"><span class="title">Projects</span>.</div>
  <div class="projects-detail">
    <div class="project-info">
      <div class="img-container">
        <img
          src="../../assets/images/weather.png"
          alt="weatherApp.png"
          class="proj-img"
        />
      </div>
      <h2>Weather App</h2>
      <p>
        A weather app made using Angular 15, With real time data from Rapid Api.
      </p>
    </div>
    <div class="project-info">
      <div class="img-container">
        <img
          src="../../assets/images/dash.png"
          alt="weatherApp.png"
          class="proj-img"
        />
      </div>
      <h2>Spotify Clone</h2>
      <p>
        A Spotify Clone made using Angular 17, With real time data from Spotify
        Developers Api.
      </p>
    </div>
  </div>
</section>
