/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
:root {
  --black: #24262f;
  --white: #fcfcfd;
  --purple: #6e06f2;
}
html,
body {
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
  background-color: #fcfcfd;
  color: var(--black) !important;
  font-size: 0.875rem;
}
body {
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
  color: var(--black) !important;
  background-color: #fcfcfd;
  font-size: 0.875rem;
}

p-button > button {
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
  font-size: 0.75rem;
}

.pointer {
  cursor: pointer;
}

.purple-hover:hover {
  color: var(--purple);
}

.purple {
  color: var(--purple);
}

.purple-btn > button {
  color: var(--white);
  font-size: 0.75rem;
  border: none;
  font-weight: 600;
}

.purple-btn > button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: linear 0.2s;
}

.white-btn > button {
  color: var(--black);
  font-size: 0.75rem;
  background-color: var(--white);
  font-weight: 600;
  outline: 1px solid var(--black);
}

.white-btn > button:hover {
  cursor: pointer;
  transition: linear 0.2s;
  background-color: var(--black);
  color: var(--white);
}

.title {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: var(--black);
}

.purple-dot {
  font-size: 3rem;
  color: var(--purple);
  font-weight: 700;
  padding-bottom: 2rem;
}

.active {
  color: var(--purple);
  font-weight: 600;
}

h2 {
  display: flex;
  justify-content: center;
}

.img-container-1 > p-image > span > img {
  width: 380px;
}

.img-container-2 > p-image > span > img {
  width: 570px;
}

.p-toolbar {
  padding: 0.5rem 0;
}

.error {
  color: #d9342b;
  font-weight: 500;
  font-size: 0.75rem;
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

.mobile {
  display: none !important;
}

.p-message .p-message-summary {
  font-weight: 700;
  padding-bottom: 0.1rem;
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 500;
  font-size: 1.25rem;
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

.p-message .p-message-detail {
  margin-left: 0.5rem;
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

.p-inputgroup .p-inputtext {
  font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
}

@media only screen and (min-width: 1920px) {
  body {
    padding: 0 20rem;
  }

  .intro {
    display: flex;
    gap: 10rem;
  }
}

@media only screen and (max-width: 667px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .info-font {
    font-size: 4rem !important;
    font-weight: bold;
    margin: 0rem;
  }

  .projects-detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .img-container > p-image > span > img {
    width: 100%;
  }

  .description {
    width: -webkit-fill-available;
  }

  .p-toolbar {
    padding: 0.5rem 0;
  }

  .pad {
    padding: 0 0.2rem !important;
  }

  .img-div[_ngcontent-ng-c72128322] {
    width: 2rem !important;
    height: 2rem !important;
  }
  .nav-links {
    gap: 0.7rem !important;
  }

  .grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;
  }

  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }

  .p-message .p-message-wrapper {
    padding: 1rem 1.25rem;
    font-size: 12px;
    font-family: "Poppins", "Poppins Placeholder", sans-serif !important;
  }
}
